#route-docs article h2 {
  display: flex;
  align-items: center;
  line-height: 1.2em;
  margin: 2em 0 0.5em;
  scroll-margin-top: 20px;

  &:hover svg {
    visibility: visible;
  }

  a {
    display: flex;
    &:hover {box-shadow: none}
  }

  svg {
    visibility: hidden;
    width: 14px;
    height: 14px;
    margin-left: -20px;
    padding-right: 6px;
    margin-top: 6px;
  }
}