.stackable.descendants {
  width: 200px;
  height: 200px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
  user-select: none;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $color-lighter-gray;
  }

  &.depth-0 {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
  }

  &.depth-1 {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }

  &.depth-2 {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  }
}