#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .movable {
    user-select: none;
    background-image: $gradient-pink;
    width: 100px;
    height: 100px;
    cursor: move;
    position: absolute;
    color: $color-white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}