#route-home {
  .title {
    position: absolute;
    top: 300px;
    left: 50%;
    color: white;
    text-shadow: 0 0 16px #072c52;
    transform: translateX(-50%);

    h1 {
      font-size: 5em;
      line-height: 1em;
      text-align: center;
      margin: 15px 0;
      letter-spacing: 23px;
    }

    h2 {
      font-weight: normal;
      font-size: 1em;
      margin: 0;
    }
  }
}