#route-home {
  position: relative;
  background-color: $color-white;
  padding-top: 0;

  .title {
    position: absolute;
    top: 33vh;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      @include media-max('sm') {
        width: 300px;
      }
    }

    h2 {
      font-weight: normal;
      font-size: 1em;
      text-align: center;
      margin: 0;
      text-shadow: 0 0 16px $color-blue;
    }
  }
}