#route-home {
  position: relative;
  background-color: $color-light-blue;

  .title {
    position: absolute;
    top: 50vh;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 5em;
      line-height: 1em;
      text-align: center;
      margin: 0;
      letter-spacing: 22px;
      margin-right: -17px;
      text-shadow: 0 0 16px $color-blue, 5px 0 0 $color-pink;

      @include media-max('sm') {
        font-size: 3em;
      }
    }

    h2 {
      font-weight: normal;
      font-size: 1em;
      text-align: center;
      margin: 0;
      text-shadow: 0 0 16px $color-blue;
    }

    .actions {
      margin-top: 15px;
      display: flex;
      justify-content: center;

      .button + .button {
        margin-left: 10px;
      }
    }
  }

  section {
    display: flex;
    padding: 30px 0;

    @include media-max('sm') {
      flex-direction: column;
    }
  }
}