#header nav.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  background-color: white;
  z-index: 10;
  padding: 0 20px 20px;
  overflow: auto;
  box-shadow: inset 0 2px 8px rgba(black, 0.2);

  &.visible {
    display: block;
  }

  h2 {
    margin: 1.2em 0 0.5em;

    &:first-child {
      margin-top: 10px;
    }

    a {
      color: $color-pink;
    }
  }

  h3 {
    margin: 1.2em 0 0.5em;
  }

  ul {
    margin-left: 10px;

    li {
      display: flex;
      align-items: center;
      margin: 5px 0;

      svg {
        fill: $color-gray;
        margin-right: 10px;
      }
    }
  }
}