$box-size: 150px;

.box {
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  user-select: none;
  box-shadow: 0 0 15px rgba(black, 0.4);
  inset: 0;
  margin: auto;
  width: $box-size;
  height: $box-size;

  &.inside {
    background-color: $color-pink;
  }
}

.box + .box {
  width: $box-size/1.5;
  height: $box-size/1.5;
}

.box + .box + .box{
  width: $box-size/3;
  height: $box-size/3;
}