#route-examples nav {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  overflow: auto;

  @include media-max('sm') {
    display: none;
  }

  .no-results {
    padding: 10px;
    text-align: center;
    color: $color-light-gray;
  }
}