#example {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .video-player {
    width: 500px;
    position: relative;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 0 5px white, 0 0 25px rgba(black, 0.3);
  }
  
  .video {
    width: 500px;
  }
  
  .slider {
    width: 100%;
    transform: translateY(6px);
    margin-left: 10px;
  }
  
  .line {
    height: 2px;
    width: 100%;
    background-color: $color-dark-blue;
    box-shadow: 0 0 1px $color-dark-blue;
  }
  
  .handle {
    width: 14px;
    height: 14px;
    background-color: $color-pink;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  
  .fill {
    background-color: $color-pink;
    height: 2px;
    transform: translateY(2px);
  }
  
  .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(white, 0.2);
    backdrop-filter: blur(10px);
  }
  
  .play-button {
    cursor: pointer;
    fill: $color-pink;
  }
}


