section.introduction {
  max-width: 720px;
  text-align: justify;
  margin: 0 auto;

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }

  .actions {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    .button {
      z-index: 1; // To appear above the divider

      & + .button {
        margin-left: 10px;
      }
    }
  }
}

.divider.introduction {
  margin-top: -40px;
  height: 100px;
  width: 100%;
  fill: white;
  background-image: linear-gradient(transparent, #EDEEF3);
}