$overlay-height: 10vh;
$scene-height: 100vh;

#route-home {
  #scene {
    width: 100%;
    height: $scene-height + $overlay-height;
    background-color: #223870;
    pointer-events: none;
    user-select: none;
  }

  .divider {
    width: 100%;
    position: absolute;
    height: $overlay-height;
    top: $scene-height;
    left: 0;

    path {
      fill: $color-white;
    }
  }
}