#example {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-direction: column;

  .slider {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 40px 0 5px 0;

    .min, .max {
      font-size: 12px;
      font-weight: bold;
    }

    .track {
      flex: 1;
      height: 8px;
      background-color: $color-light-gray;
      margin: 0 10px;
      border-radius: 4px;
      box-shadow: inset 0 0 3px rgba(black, 0.2);
      position: relative;
      cursor: pointer;

      .tooltip {
        position: absolute;
        transform: translate(-50%, -40px);
        background-color: $color-pink;
        padding: 3px 8px;
        border-radius: 4px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;

        &::after {
          content: '';
          position: absolute;
          transform: rotate(45deg);
          width: 6px;
          height: 6px;
          background-color: $color-pink;
          bottom: -3px;
          left: 50%;
          margin-left: -3px;
        }
      }

      .filler {
        left: 0;
        height: 100%;
        position: absolute;
        background-color: $color-pink;
        border-radius: 5px;
      }

      .handle {
        background-color: $color-pink;
        box-shadow: 0 0 2px rgba(black, 0.5), 0 0 8px rgba(black, 0.1);
        width: 20px;
        height: 20px;
        position: absolute;
        transform: translate(-10px, -6px);
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
}