#example {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    background-image: $gradient-pink;
    width: 200px;
    height: 100px;
    border-radius: 5px;
  }

  p {
    margin: 5px 0;
  }
}