$transition: all .2s ease-out;

.preview-container {
  width: 100%;
  padding-top: 70%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.05);

  &:hover {
    .preview {
      filter: blur(5px);
    }
    .text, .overlay, .name, .tags  {
      opacity: 1;
    }
  }

  .overlay {
    background:
      radial-gradient(circle, rgba(white, 0.7) 25%, transparent),
      linear-gradient(transparent 40%, rgba(black, 0.5));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: $transition;
  }

  .preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: $transition;
    object-fit: cover;
    border-radius: 4px;
  }

  .text {
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-image: $gradient-pink;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    transition: $transition;
  }

  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 13px;
    font-weight: bold;
    color: white;
    font-size: 0.8em;
    text-shadow: 0 0 8px rgba(black, 0.6);
    opacity: 0;
    transition: $transition;
  }

  .tags {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    opacity: 0;
    transition: $transition;

    .tag {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 9px;
      background-image: $gradient-blue;
      color: white;
      margin: 8px 8px 8px 0;
      padding: 2px 5px;
      border-radius: 4px;
      box-shadow: 0 0 25px white;
    }
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}