.info-box {
  color: $color-white;
  margin: 0 20px;

  h3 {
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2em;
    color: $color-white;
    margin: 0 0 10px;
  }
}