section.components {

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @include media-max('md') {
      grid-template-columns: 1fr 1fr;
    }

    @include media-max('sm') {
      grid-template-columns: 1fr;
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}