section.examples {

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}