$iframe-zoom: 1/3;
$transition: all .2s ease-out;

section.examples {

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }

  .example {
    width: 100%;
    padding-top: 70%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1), 0 1px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      .preview {
        transform: scale(1.2);
        filter: blur(2px);
      }
      .text {
        opacity: 1;
      }
      .name {
        transform: translate(0, 0);
      }
      .tags {
        transform: translate(0, 0);
      }
    }

    .preview {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      box-sizing: border-box;
      transition: $transition;

      iframe {
        width: (1 / $iframe-zoom) * 100%; // Multiply by the inverse of $iframe-zoom
        height: (1 / $iframe-zoom) * 100%;
        transform: scale($iframe-zoom);
        transform-origin: top left;
        border: none;
        box-sizing: border-box;
      }
    }

    .text {
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      background-color: $color-pink;
      padding: 5px 10px;
      color: white;
      border-radius: 4px;
      transition: $transition;
      box-shadow: 0 0 0 400px rgba(white, 0.5), 0 0 15px rgba(black, 0.4);
    }

    .name {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px 15px;
      border-bottom-right-radius: 4px;
      font-weight: bold;
      background-image: $gradient-blue;
      color: white;
      font-size: 12px;
      box-shadow: 0 0 15px rgba(black, 0.3), 0 0 2px rgba(black, 0.5);
      transition: $transition;
      transform: translate(-40px, -40px);
    }

    .tags {
      background-color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      box-shadow: 0 0 15px rgba(black, 0.2), 0 0 2px rgba(black, 0.1);
      padding-left: 8px;
      border-top-left-radius: 4px;
      transition: $transition;
      transform: translate(40px, 40px);

      .tag {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 9px;
        background-color: $color-pink;
        color: white;
        margin: 8px 8px 8px 0;
        padding: 2px 5px;
        border-radius: 4px;
      }
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    @include media-max('md') {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-max('sm') {
      grid-template-columns: 1fr;
    }
  }

  a {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}