$size: 100px;

#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .scalable {
    margin: 10px;
  }

  .content {
    background-image: $gradient-pink;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $size;
    height: $size;
  }
}

