#example {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  padding: 20vh 30%;

  @include media-max('md') {
    padding: 5%;
  }

  .scrollbar {
    border: 2px dashed $color-gray;
    border-radius: 4px;
    width: 150px;
    height: 150px;
    font-size: 0.8em;

    .scrollbar-inner {
      padding: 4px 8px;
    }
  }

}

#example .scrollbar1 {
  --scrollable-track-thickness: 8px;
  --scrollable-thumb-thickness: 6px;

  display: flex;
  flex-direction: column;
  position: absolute;
  right: -16px;
  width: 8px;
  height: 100%;
  background-color: $color-white;
  border: 1px solid black;
  border-radius: 50px;

  .vertical-scrollbar-track {
    position: relative;

    .scrollbar-thumb {
      padding: 1px;
    }

    .scrollbar-thumb-inner {
      box-sizing: border-box;
      background-color: black;
      border-radius: 6px;
      opacity: 1;
    }
  }

  svg {
    cursor: pointer;
    fill: black;
    height: 7px;
    width: 8px;
    padding: 1px 0;
  }
}

#example .scrollbar2 {
  --scrollable-track-thickness: 10px;
  --scrollable-thumb-thickness: 8px;

  .scrollbar-track {
    right: -14px;

    .scrollbar-thumb {
      padding: 1px;
      pointer-events: none;
      top: 0;
      height: max(calc(var(--scrollable-scroll-top, 0) * 100%), 30px);
    }

    .scrollbar-thumb-inner {
      filter: hue-rotate(calc(var(--scrollable-scroll-top, 0) * 120deg));
      box-sizing: border-box;
      background: $gradient-pink;
      border-radius: 50px;
      opacity: 1;
    }
  }
}

#example .scrollbar3 {
  --scrollable-track-thickness: 12px;
  --scrollable-thumb-thickness: 100%;
  --scrollable-thumb-offset: 0;

  .scrollbar-track {
    background-color: rgba($color-gray, 0.7);
    border-radius: 50px;
    right: -16px;

    .scrollbar-thumb {
      --scrollable-min-thumb-length: 80px;
    }

    .scrollbar-thumb-inner {
      box-sizing: border-box;
      background:
        // Created using https://gra.dient.art/
        repeating-linear-gradient(0deg, transparent 0%,  8.33%, rgba($color-gray, 0.4) 8.33%,  25%, transparent 25%, transparent 33.33%) 2px 50% / 8px 12px no-repeat,
        $color-lighter-gray;
      box-shadow: 0 0 6px -2px;
      border-radius: 50px;
      opacity: 1;
    }
  }
}

#example .scrollbar4 {
  --track-color: #272928;
  --thumb-color: linear-gradient(90deg, rgba(174,174,174,1) 0%, rgba(109,109,109,1) 100%);
  --scrollable-thumb-thickness: 20px;
  --scrollable-thumb-offset: 0;

  width: 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  .scrollbar-inner {
    padding-right: 20px;
  }

  .scrollbar-track {
    position: relative;
    width: 100%;
    background-color: var(--track-color);
    box-shadow: 0 0 6px -2px, inset 0 0 6px -2px;

    .scrollbar-thumb {
      padding: 0;
    }

    .scrollbar-thumb-inner {
      box-sizing: border-box;
      background: var(--thumb-color);
      border-left: 1px solid var(--track-color);
      border-right: 1px solid var(--track-color);
      border-radius: 0;
      opacity: 1;
    }
  }

  .scroll-button {
    box-shadow: 0 0 6px -2px, inset 1px -2px 15px -8px;;
    border: 1px solid var(--track-color);
    background: var(--thumb-color);
    cursor: pointer;
    fill: $color-white;
    padding: 3px;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
  }
}