$background-color: #f6fbff;
$border-color: #d9e6f1;

#sidebar {
  position: relative;
  background-color: $background-color;
  border-right: 1px solid $border-color;
  margin-bottom: -15px;
  margin-top: -15px;

  @include media-max('sm') {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: -999px;
    background-color: $background-color;
  }

  > ul {
    padding: 30px 0;
    position: sticky;
    top: 60px; // The header's height
    overflow: auto;
    max-height: calc(100vh - 100px);

    a {
      display: flex;
      align-items: center;
    }

    > li {
      position: relative;
      margin: 5px 30px;

      &:not(:last-child)::after {
        content: '';
        height: 1px;
        background-image: linear-gradient(90deg, transparent, #d9e6f1 30%);
        position: absolute;
        right: -30px;
        left: -30px;
        bottom: -15px;
      }

      .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
        color: $color-gray;
        letter-spacing: 2px;
      }

      > ul {
        margin: 10px 0 30px;

        li.active, a.active {
          position: relative;
          color: $color-pink;

          &::after {
            content: '';
            position: absolute;
            right: -30px;
            top: 0;
            width: 3px;
            height: 100%;
            background-color: $color-pink;
          }

          svg {
            fill: $background-color;
            background-image: $gradient-pink;
          }
        }

        > li {
          color: $color-dark-blue;
          margin: 5px 0;
          font-size: 0.9em;

          svg {
            fill: $color-gray;
            margin-right: 8px;
            padding: 2px;
            border-radius: 2px;
          }

          > ul {
            margin: 0 0 15px 8px;
            color: $color-gray;
            font-size: 0.9em;
            line-height: 1.5em;
            border-left: 3px solid $border-color;
            padding: 10px 0 0 7px;
          }
        }
      }
    }
  }
}