@mixin chess-grid($size: 15px, $color: #F6F6F6) {
  background:
          linear-gradient(45deg, $color 25%, transparent 25%) 0 0,
          linear-gradient(-45deg, $color 25%, transparent 25%) 0 $size,
          linear-gradient(45deg, transparent 75%, $color 75%) $size (-$size),
          linear-gradient(-45deg, transparent 75%, $color 75%) (-$size) 0;
  background-size: (2*$size) (2*$size);
}

.code-example {
  .live-code {
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 3px rgba($color-dark-blue, 0.1), inset 0 0 15px rgba($color-dark-blue, 0.1);
    @include chess-grid();
  }
  .source-code {
    display: none;

    &.visible {
      display: block;
    }

    .prism-code {
      overflow: scroll;
      max-height: 50vh;
    }
  }
}