#header {
  background-color: $color-white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);

  a {
    color: $color-dark-blue;
    text-transform: capitalize;

    img {
      height: 20px;
    }
  }

  .logo {
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex: 1;

    @include media-max('sm') {
      display: none;
      border-top: 1px solid rgba($color-white, 0.2);
      position: absolute;
      flex-direction: column;
      background-color: $color-dark-blue;
      right: 0;
      left: 0;
      top: 60px;
      padding: 10px;

      &.active {
        display: flex;
      }
    }

    a {
      padding: 10px;
    }
  }

  .version {
    color: $color-dark-blue;

    @include media-max('sm') {
      margin-left: 145px;
      margin-right: auto; // Push the hamburger menu to the right
    }
  }
}