#header {
  background-color: $color-dark-blue;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  opacity: 0.9;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  box-shadow: 0 -2px 5px 5px rgba(0, 0, 0, 0.2);

  a {
    color: white;
    text-transform: capitalize;

    img {
      height: 20px;
    }
  }

  .logo {
    font-weight: bold;
    letter-spacing: 2px;
    position: absolute;
  }

  .routes {
    display: flex;
    justify-content: center;
    flex: 1;

    a {
      padding: 10px;
    }
  }

  .version {
    color: $color-white;
  }
}