#header {
  background-color: $color-white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1);

  .logo {
    font-weight: bold;
    font-size: 0;
    width: 140px;
    stroke: black;
    stroke-width: 2px;
  }

  .menu {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin-right: 80px; // To center the menu items, since the logo on the left is wider than the stuff on the right

    @include media-max('sm') {
      display: none;
    }

    a {
      margin: 0 10px;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $color-dark-blue;
      text-transform: capitalize;

      &.active {
        border-bottom: 4px solid $color-pink;
        color: $color-pink;
        font-weight: bold;
      }
    }
  }

  .github-link {
    margin-left: 10px;
    display: flex;

    svg {
      width: 20px;
      height: 20px;
    }

    @include media-max('sm') {
      margin-right: 10px;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }

  .version {
    color: $color-dark-blue;
    font-size: 14px;

    @include media-max('sm') {
      font-size: 12px;
      margin-left: auto;
    }
  }
}