.prism-code {
  padding: 20px;
  overflow: scroll;
  max-height: 50vh;

  &.inline {
    display: inline-block;
    padding: 0 7px;
    font-size: 0.8em;
    margin: 0;
    vertical-align: bottom;
    background-color: $color-light-gray;
  }
}