#footer {
  background-color: $color-dark-blue;
  color: $color-white;

  .logo-container {
    background-color: $color-blue;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .divider {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 1;
      bottom: 0;

      path {
        fill: $color-dark-blue;
      }
    }

    .graphic {
      background-image: url('../../resources/images/webrix-logo-square-light.png');
      background-repeat: no-repeat;
      background-position: center center;
      width: 300px;
      height: 300px;
      position: absolute;
      top: -75px;
      opacity: 0.2;
    }

    a {
      z-index: 1;
      color: $color-white;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 1.4em;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    padding: 50px 0 0;
    width: fit-content;
    grid-gap: 70px;

    @include media-max('md') {
      grid-template-columns: repeat(2, max-content);;
    }

    @include media-max('sm') {
      grid-template-columns: max-content;
      grid-gap: 30px;
    }

    .links {
      @include media-max('sm') {
        width: 100%;
        text-align: center;
      }

      h4 {
        color: $color-gray;
        margin: 0;
      }

      ul {
        list-style: none;
        margin: 10px 0 30px;
        padding: 0;

        li {
          margin: 5px 0;
          display: flex;
          align-items: center;

          &:hover svg {
            fill: $color-pink;
          }

          @include media-max('sm') {
            justify-content: center;
          }

          a {
            color: $color-white;
          }

          svg {
            fill: $color-gray;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .copyright-notice {
    text-align: center;
    padding: 20px 0;

    @include media-max('sm') {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      filter: grayscale(1);
      opacity: 0.5;
      width: 160px;
    }

    p {
      font-size: 0.9em;
      margin: 0;
      color: $color-gray;
    }
  }
}