$width: 250px;
$spacing: 15px;

#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .color-picker {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    .shade-selector {
      position: relative;
      width: $width;
      height: $width;
      margin: $spacing;
      cursor: pointer;
      user-select: none;

      canvas {
        border-radius: 3px;
      }
    }

    .hue-selector {
      position: relative;
      width: $width;
      height: 8px;
      margin: $spacing;
      cursor: pointer;
      user-select: none;

      .pointer {
        top: 4px;
      }

      canvas {
        border-radius: 8px;
      }
    }

    .pointer {
      position: absolute;
      z-index: 1;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      border: 5px solid white;
      transform: translate(-10px, -10px);
      box-shadow: 0 0 5px rgba(black, 0.2), inset 0 0 5px rgba(black, 0.2);
    }
  }

  .info-box {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 10px;

    div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 50px;
      font-size: 12px;
      height: 28px;
      border: 1px solid rgba(black, 0.1);
      border-radius: 6px;
      user-select: all;

      &::before {
        content: attr(title);
        position: absolute;
        top: -18px;
        font-weight: bold;
        font-size: 10px;
      }

      &:first-child {
        flex-basis: 80px;
      }
    }
  }

  canvas {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(black, 0.1);
  }
}
