#example {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .image-container {
    position: relative;
    width: 75vmin;
  }

  header {
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
  }

  .pannable-image {
    --border-size: 12px;

    height: 75vmin;
    border: var(--border-size) solid white;
    box-shadow: 0 0 15px rgba(black, 0.3);

    .scrollable {
      --scrollable-thumb-color: #{$color-pink};

      .vertical-scrollbar-track {
        right: calc(var(--border-size) * -1);
      }

      .horizontal-scrollbar-track {
        bottom: calc(var(--border-size) * -1);
      }
    }
  }

  .scalable {
    pointer-events: none;

    &-inner {
      display: flex;
    }
  }

  .slider {
    --w: 8px;
    position: absolute;
    z-index: 1;
    inset: 0 auto;
    margin: auto;
    right: -40px;
    width: var(--w);
    height: 200px;
    border-radius: 10px;
    background: #CCC;
    cursor: pointer;

    .handle {
      font-size: 12px;
      color: white;
      border-radius: inherit;
      position: absolute;
      padding: 3px 8px;
      background: $color-pink;
      left: 50%;
      top: calc(var(--posY) * 1%);
      transform: translateY(calc(-1% * var(--posY))) translateX(-50%);


      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 var(--w) var(--w) var(--w);
        border-color: transparent transparent $color-pink transparent;
        inset: calc(var(--w) * -1) 0 auto;
        transform: scale(calc((var(--posY)) * 1.5%));
        transform-origin: bottom center;
        //transform: translateY(clamp(-100%, calc(var(--posY) * -3%), 0%));
        margin: auto;
      }

      &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: var(--w) var(--w) 0 var(--w);
        border-color: $color-pink transparent transparent transparent;
        inset: auto 0 calc(var(--w) * -1);
        transform: scale(calc((100 - var(--posY)) * 1.5%));
        transform-origin: top center;
        //transform: translateY(clamp(0%, calc((100 - var(--posY)) * 3%), 100%));
        margin: auto;
      }
    }
  }
}