section.features {

  h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    @include media-max('md') {
      grid-template-columns: 1fr;
    }
  }
}

.divider.features {
  height: 100px;
  width: 100%;
  fill: white;
  background-image: linear-gradient(transparent, $color-lighter-gray);
}