section.features {
  display: flex;
  flex-direction: column;
}

.divider.features {
  height: 100px;
  width: 100%;
  fill: white;
  background-image: linear-gradient(transparent, $color-lighter-gray);
}