#app {
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  > .scrollable {
    margin-top: 60px;
    max-height: calc(100% - 60px);

    &.scrolling > .scrollbar-track .scrollbar-thumb-inner,
    .scrollbar-track:hover .scrollbar-thumb-inner {
      opacity: 0.8;
      transition-delay: 0s;
    }

    > .scrollbar-track {
      z-index: 1;

      .scrollbar-thumb-inner {
        opacity: 0;
        background-image: linear-gradient(adjust-hue($color-pink, -25), $color-pink);
        border-radius: 4px;
        transition: opacity 0.2s ease-out 0.5s; // The transition delay is used to keep the thumb visible for a short time when the cursor leaves. (see `Scrollable.constants.js`)
      }
    }
  }
}