.code-example .controls {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  padding: 5px;
  box-shadow: 0 0 3px rgba($color-dark-blue, 0.1), 0 0 15px rgba($color-dark-blue, 0.1);
  border-top-left-radius: 4px;

  svg {
    fill: $color-gray;
    margin: 4px 8px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: fill 0.3s ease;

    &:hover {
      fill: $color-dark-blue;
    }
  }
}
