#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .scrollbar {
    border: 2px dashed $color-gray;
    border-radius: 4px;
    width: 200px;
    height: 200px;
  }

  .scrollbar .scrollbar-track {
    right: -14px;

    .scrollbar-thumb {
      padding: 0;
    }

    .scrollbar-thumb-inner {
      background-image: linear-gradient($color-light-blue, $color-pink, $color-light-blue);
      background-attachment: fixed;
      background-size: 1px 100px;
      border-radius: 4px;
      width: 10px;
      opacity: 1;
    }
  }

  .scrollbar-inner {
    padding: 4px 8px;
  }
}