#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .scrollbar-shadow {
    width: 200px;
    height: 200px;
    position: relative;
    border: 2px dashed $color-gray;
    border-radius: 4px;

    .scroll-shadow {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .scrollable-inner {
    padding: 4px 8px;
  }
}