#example {
  display: flex;
  align-items: center;
  justify-content: center;

  .scrollbar {
    border: 2px dashed $color-gray;
    border-radius: 4px;
    width: 200px;
    height: 200px;
  }

  .scrollbar-inner {
    padding: 4px 8px;
  }
}