#example {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    border: 2px dashed $color-gray;
    border-radius: 4px;
  }

  .custom-scrollbars {
    width: 200px;
    height: 200px;

    .scrollbar .scrollbar-track .scrollbar-thumb .scrollbar-thumb-inner {
      background-color: transparent;
    }
  }

  .scrollbar-inner {
    padding: 4px 8px;
  }
}