#example {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    border: 2px dashed $color-gray;
    border-radius: 4px;
  }

  .custom-scrollbars {
    width: 200px;
    height: 200px;

    .scrollbar .scrollbar-track .scrollbar-thumb {
      right: -4px;

      .scrollbar-thumb-inner {
        background-image: linear-gradient($color-light-blue, $color-pink);
        border-radius: 4px;
        width: 10px;
        opacity: 1;
      }
    }
  }

  .scrollbar-inner {
    padding: 4px 8px;
  }
}